@font-face {
	font-family: 'Lato';
	src: url(Lato-Regular.ttf);
    font-weight: 400;
}
@font-face {
	font-family: 'Lato';
	src: url(Lato-Bold.ttf);
    font-weight: 500;
}


/*=============================================
=            Generales            =
=============================================*/

*, *:before, *:after { 
    box-sizing: border-box; 
    outline: 0;
}

body {
    overflow: hidden;
    font-family: 'Lato';
    margin: 0; padding: 0;
    color: #fff;
}

#mainFlex {
    height: 100vh; width: 100vw;
    display: flex;
    flex-direction: column;
}

button:active { 
    padding: 0;
}

/*=====  End of Generales  ======*/



/*=============================================
=            Controles            =
=============================================*/

#controles {
    display: flex;
    flex-direction: row;
    flex: 7;
}

#controles div {
    flex-basis: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 1.8fr 1fr;
    grid-gap: .5em;
    align-items: center;
    justify-items: center;
    padding: .5em;
}

#controles div *:nth-child(3) {
    grid-column: span 2;
}

#controles h1 {
    font-size: 8vw;
}

#controles h2 {
    text-transform: uppercase;
    display: inline;
    margin: 0;
    font-size: 2.5vw;
}

#controles .icon {
    font-size: 12vw;
}

button.control {
    border: none;
    border-radius: 1.4rem;
    font-size: 12vw;
    width: 100%; height: 100%;
    font-family: 'SparIcons';
    line-height: 0;
    opacity: .9;
}

button.control:active {
    opacity: 1;
    background: white;
}

/*=====  End of Controles  ======*/


/*=============================================
=            Modal            =
=============================================*/

@keyframes zoom-in {
    from    { transform: scale(0); opacity: 0; }
    to      { transform: scale(1); opacity: 1}
}

div#modal {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    width: 100vw; height: 100vh;
    top:0; left: 0;
    z-index: 2;
    color: black;
    text-align: center;
}

div#modal > div {
    background-color: white;
    width: 80vw; height: 60vh;
    position: absolute;
    display: block;
    left: 10vw; top: 15vh;
    border-radius: 1.4rem;
    padding-top: 3rem;
    font-size: 3em;
    overflow: hidden;
    animation: zoom-in .2s ease;
}

div#modal > div button {
    position: absolute;
    bottom: 0;
    width: 50%;
    border: none;
    font-size: 2.6rem;
    text-transform: uppercase;
    padding: 2rem 1rem;
}

div#modal > div button#ok { right: 0; background-color: rgb(197, 255, 197); }
div#modal button#cancel { left: 0; background-color: rgb(255, 197, 197); }


/*=====  End of Modal  ======*/

